polygon,
circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0 2rem 0 10rem;
}

.titleContainer {
  font-size: 3rem;
  line-height: 1.5rem;
}

.titleContainer > h3 {
  color: #00cc88;
}

.titleContainer > h1 {
  color: #0099ff;
}

.titleContainer {
  color: #ff0055;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
