.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0 2rem 0 5rem;
}

.titleContainer {
  font-size: 3rem;
  line-height: 0.5rem;
  background: rgba(63, 63, 63, 0.05);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem 3rem;
  margin-right: 1.5rem;
}
.profile {
  width: 10rem;
  border-radius: 2rem;
}
.titleContainer > h5 {
  color: #00cc88;
}

.titleContainer > h3 {
  color: #0099ff;
  line-height: 2rem;
}
.titleContainer > p {
  font-size: 1.2rem;
  line-height: 2rem;
  color: whitesmoke;
}

.titleContainer {
  color: #ff0055;
}

@media only screen and (max-width: 1400px) {
  .titleContainer {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1050px) {
  .mainContainer {
    margin: 0 1rem;
    margin-top: 3rem;
  }

  .titleContainer {
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
    width: 100vw;
    padding: 2rem;
  }
  .titleContainer > p {
    line-height: 1.2rem;
    font-size: 1rem;
    color: whitesmoke;
  }
}

@media only screen and (max-width: 800px) {
  .Svg {
    display: none;
  }
  .titleContainer > h3 {
    line-height: auto;
  }
  .titleContainer {
    margin-right: 0;
  }
}
